body { 
    background-color: #F5F5F5; /* Fondo gris claro para el resto de la página */
    margin: 0;
    padding: 0;
}

.fondo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FFFFFF; /* Fondo blanco para el formulario */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    margin: 5% auto; /* Centra el contenedor */
    border-radius: 20px; /* Bordes redondeados */
    padding: 30px; /* Espaciado interno */
    width: 400px; /* Ancho fijo para el formulario */
    text-align: center; /* Centra el contenido */
}

input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid #CCCCCC; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    margin-bottom: 15px; /* Espaciado entre campos */
    color: #333333; /* Texto negro suave */
}

button {
    background-color: #4A90E2; /* Azul claro */
    color: #FFFFFF; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 10px; /* Bordes redondeados */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
}

button:hover {
    background-color: #357ABD; /* Azul más oscuro al pasar el mouse */
    color: #FFFFFF; /* Mantener texto blanco */
}

.coustome-link {
    background-color: #4A90E2; /* Azul claro */
    color: #FFFFFF; /* Texto blanco */
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.coustome-link:hover {
    background-color: #357ABD; /* Azul más oscuro al pasar el mouse */
    color: #FFFFFF; /* Mantener texto blanco */
    text-decoration: none;
}
